<ng-template #defaultTemplate>
</ng-template>

<dx-load-panel [visible]="true" shadingColor="#ffffffcc" [showIndicator]="true" [shading]="false" [showPane]="true" (onShown)="onShown()">
</dx-load-panel>

<dx-popup #popup class="component-popup" [width]="500" [height]="500" [(visible)]="visible" [dragEnabled]="false" [(title)]="title">
	<div class="popup-container">
		<div class="popup-content-header" *ngIf="headerTemplate">
			<ng-container [ngTemplateOutlet]="headerTemplate ? headerTemplate: defaultTemplate"></ng-container>
		</div>

		<div class="popup-content-body">
			<dx-scroll-view #scrollView class="popup-container-scroll-view" direction="vertical" showScrollbar="always">
				<div class="popup-content-wrapper">
					<ng-content></ng-content>
				</div>
			</dx-scroll-view>
		</div>

		<div class="popup-content-footer" *ngIf="footerTemplate">
			<div class="popup-footer-wrapper">
				<ng-container [ngTemplateOutlet]="footerTemplate ? footerTemplate: defaultTemplate"></ng-container>
			</div>
		</div>
	</div>
</dx-popup>