<div class="management-flowers">
  <dx-load-panel *ngIf="isProcessing" [visible]="true" [showPane]="false">
  </dx-load-panel>
  <dx-button icon="plus" type="default" (onClick)="createFlower()" [text]="'New Flower'">
  </dx-button>
  <dx-data-grid id="gridContainer" [dataSource]="dataSource" [showBorders]="true">
    <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
    <dxo-paging [pageSize]="5">
    </dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10]" [showNavigationButtons]="true">
    </dxo-pager>
    <dxi-column dataField="id" [width]="50"></dxi-column>
    <dxi-column dataField="image" [width]="110" [allowFiltering]="false" [allowSorting]="false"
      cellTemplate="cellTemplate">
      <div *dxTemplate="let data of 'cellTemplate'">
        <img [src]="data.value" />
      </div>
    </dxi-column>
    <dxi-column dataField="name" [width]="100"></dxi-column>
    <dxi-column dataField="description"></dxi-column>
    <dxi-column dataField="price" [width]="100"></dxi-column>
    <dxi-column dataField="remainingStock" [width]="100"></dxi-column>
    <dxi-column [width]="100" [fixed]="true" alignment="center" cellTemplate="actionsCellTemplate" fixedPosition="right"
      [caption]="'Action'">
      <div *dxTemplate="let cell of 'actionsCellTemplate'">
        <div class="action-inline">
          <i class="far fa-edit" title="'Edit'" (click)="onFlowerDetail(cell.data)"></i>
          <i class="far fa-trash-alt" title="Delete" (click)="onDeleteFlower(cell.data.id, $event)"></i>
        </div>
      </div>
    </dxi-column>
  </dx-data-grid>
  <ng-container *ngIf="isOpenFlowerDetailPopup">
    <app-edit-flowers [(visible)]="isOpenFlowerDetailPopup" [selectedFlower]="dataFlower">
    </app-edit-flowers>
  </ng-container>
</div>