<div class="management-flowers">
    <dx-load-panel *ngIf="isProcessing" [visible]="true" [showPane]="false">
    </dx-load-panel>
    <dx-data-grid id="gridContainer" [dataSource]="dataSource" [showBorders]="true">
      <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
      <dxo-paging [pageSize]="13">
      </dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 10, 13, 15]" [showNavigationButtons]="true">
      </dxo-pager>
      <dxi-column dataField="id" [width]="50"></dxi-column>
      <dxi-column dataField="userFullname" [width]="200" [caption]="'Full name'"></dxi-column>
      <dxi-column dataField="userPhone" [caption]="'Phone'"></dxi-column>
      <dxi-column dataField="userAddress" [width]="250" [caption]="'Address'"></dxi-column>
      <dxi-column dataField="userEmail" [width]="250" [caption]="' Email'"></dxi-column>
      <dxi-column dataField="cartTotalPrice" [width]="150" [caption]="'Total price'"></dxi-column>
      <dxi-column [width]="100" [fixed]="true" alignment="center" cellTemplate="actionsCellTemplate" fixedPosition="right"
        [caption]="'Action'">
        <div *dxTemplate="let cell of 'actionsCellTemplate'">
          <div class="action-inline">
            <i class="far fa-eye" title="'Detail'" (click)="onOrderDetail(cell.data)" ></i>
            <i class="far fa-trash-alt" title="Delete" (click)="onDeleteOrder(cell.data.id, $event)"></i>
          </div>
        </div>
      </dxi-column>
    </dx-data-grid>
    <ng-container *ngIf="isOpenOrderDetailPopup">
      <order-detail [(visible)]="isOpenOrderDetailPopup" [selectedOrder]="dataOrder">
      </order-detail>
    </ng-container>
  </div>
  <app-popover-confirm-box #deleteDetailConfirmPopover
                           [message]="'Are you sure to delete?'"
                           (onConfirm)="deleteOrder()">
  </app-popover-confirm-box>