<dx-load-panel *ngIf="visible" [visible]="true" [showPane]="false"></dx-load-panel>

<app-popup-container [(visible)]="visible"  >
    <div class="field row-layout">
        <div class="field-label w-25">Name flower</div>
        <div class="field-value w-75">
            <dx-text-box class="w-100">
                <dx-validator>
                    <dxi-validation-rule type="required" [message]="'This field is required'">
                    </dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>
    </div>
    <div class="field row-layout">
        <div class="field-label w-25">Price</div>
        <div class="field-value w-75">
            <dx-date-box>
                <dx-validator>
                    <dxi-validation-rule type="required" [message]="'This field is required'">
                    </dxi-validation-rule>
                </dx-validator>
            </dx-date-box>
        </div>
    </div>
    <div>
        <button>Update</button>
    </div>
</app-popup-container>
